@media screen and (min-width: 700px) {
  /* スクリーンサイズが700px以上の場合に適用 */
  .login_textbox {
    width: 31.25vw;
    padding: 1.09vw 1.25vw;
    border: solid 1px #e6e6e6;
    border-radius: 4px;
    font-size: 1.25vw;
    color: #1f1f1f;
  }
  .login_textbox::placeholder {
    color: #aab4c2;
  }
}

@media screen and (max-width: 699px) {
  /* スクリーンサイズが699px以下の場合に適用 */
  .login_textbox {
    width: 90%;
    padding: 3.73vw 4.27vw;
    border: solid 1px #e6e6e6;
    border-radius: 4px;
    font-size: 4.27vw;
    color: #1f1f1f;
  }
  .login_textbox::placeholder {
    color: #aab4c2;
  }
}
