@media screen and (min-width: 700px) {
  /* スクリーンサイズが700px以上の場合に適用 */
  .product_box {
    width: 16.25vw;
    background-color: #fff;
    border-radius: 0 40px 0 0;
    padding: 1.56vw;
  }

  .product_image {
    width: 100%;
  }
  img {
    width: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 699px) {
  /* スクリーンサイズが699px以下の場合に適用 */
}
