<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <!-- ファビコン -->
    <!-- <link rel="icon" href="./favicon.ico" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- web page title -->
    <title>東西南北屋</title>
    <!-- css -->
    <link rel="stylesheet" href="./index.css" />
  </head>

  <body>
    <div class="sectionSecond-title">
      <div class="whiteVar"></div>
      <div class="blackVar">
        <div class="sectionSecond-text">
          <div>CATEGORY</div>
          <div class="arrow">
            <img class="arrow-img" src="./rightArrow.png" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
