<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <!-- ファビコン -->
    <!-- <link rel="icon" href="./favicon.ico" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- web page title -->
    <title>東西南北屋</title>
    <!-- css -->
    <link rel="stylesheet" href="./index.css" />
  </head>

  <body>
    <div class="top-downArrow">
      <img src="./downArrow.png" alt="FV" />
    </div>
    <div class="top-downArrow">
      <img src="{{ 'downArrow.png' | asset_url }}" alt="FV" />
    </div>
  </body>
</html>
