@media screen and (min-width: 700px) {
  /* スクリーンサイズが700px以上の場合に適用 */
  .login_requir_label {
    width: 3.13vw;
    color: #bf0000;
    background-color: #ffe8e8;
    padding: 0.16vw 0.63vw;
    font-size: 0.94vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 699px) {
  /* スクリーンサイズが699px以下の場合に適用 */
  .login_requir_label {
    width: 10.67vw;
    color: #bf0000;
    background-color: #ffe8e8;
    padding: 0.53vw 2.13vw;
    font-size: 3.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
