@media screen and (min-width: 700px) {
  /* スクリーンサイズが700px以上の場合に適用 */
  .login_lebel {
    width: 100%;
    text-align: center;
    color: #1f1f1f;
    font-size: 1.11vw;
    margin: 0;
  }
}

@media screen and (max-width: 699px) {
  /* スクリーンサイズが699px以下の場合に適用 */
  .login_lebel {
    width: 100%;
    text-align: center;
    color: #1f1f1f;
    font-size: 4.27vw;
    margin: 0;
  }
}
