<section class="lesson-section">
  <h1>{{  section.settings.collection.title }}</h1>
  <pre>{{ section.settings.collection | json }}</pre>
  <pre>{{ section.settings.collection.filters | json }}</pre>
    <ul>
    {% for collection in collections %}
        {% if collection.metafields.global.vendor == '条件に合う販売元' %}
        <li>{{ collection.title }}</li>
      {% endif %}
    {% endfor %}
  </ul>
</section>
{% schema %}
  {
    "name": "Link-button-list",
    "settings": [
      {
            "type": "collection",
            "id": "collection",
            "label": "t:sections.featured_collections.blocks.collection.collection"
      }
    ],
    "presets": [
      {
        "name": "Link-button-list"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}