<h1>Link-list ora</h1>
{%- if section.blocks.size > 0 -%}
  <ul>
    {%- for block in section.blocks -%}
      <div class="justify-self-center top-view-all-button">
        {%-
          render 'button',
          href: block.settings.collection.url,
          content: block.settings.collection.title
        -%}
      </div>
    {%- endfor -%}
  </ul>
{% endif %}
{%- schema -%}
  {
    "name": "Link-list",
    "blocks": [
      {
        "type": "collection",
        "name": "t:sections.featured_collections.blocks.collection.name",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "t:sections.featured_collections.blocks.collection.collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Link-list",
        "blocks": [
          {
            "type": "collection"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}