{%- if section.blocks.size > 0 -%}
  <div class="section-stack">
    <div class="v-stack justify-self-center gap-4 text-center sm:gap-5">
      <p class="h2">{{ section.settings.title | default: 'タイトル' }}</p>
      {%- for block in section.blocks -%}
        <div class="justify-self-center top-link-button-list">
          {%-
            render 'button',
            href: block.settings.collection.url,
            content: block.settings.collection.title
          -%}
        </div>
      {%- endfor -%}
    </div>
  </div>
{% endif %}

{%- schema -%}
  {
    "name": "Link-list",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "タイトル"
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "t:sections.featured_collections.blocks.collection.name",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "t:sections.featured_collections.blocks.collection.collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Link-list",
        "blocks": [
          {
            "type": "collection"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}