<section class="lesson-section">
  {%- render 'button', type: 'submit', content: save_button, size: 'xl' -%}
</section>
{% schema %}
  {
    "name": "Link-button-list",
    "settings": [],
     "presets": [
      {
        "name": "Link-button-list"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}