<h1>Link-list ora</h1>
{% schema %}
  {
    "name": "Link-list",
    "blocks": [
      {
        "type": "collection",
        "name": "t:sections.featured_collections.blocks.collection.name",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "t:sections.featured_collections.blocks.collection.collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Link-list",
        "blocks": [
          {
            "type": "collection"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}