{%- if section.blocks.size > 0 -%}
  <div>
    {% comment %} TODO: あとでcss指定 {% endcomment %}
    <p class="h2 top-secsion_title">{{ section.settings.title | default: 'タイトル' }}</p>
    <div class="brand_list_wrap">
    {%- for block in section.blocks -%}
      <div class="justify-self-center top-link-button-list">
        {%-
          render 'button',
          href: block.settings.collection.url,
          content: block.settings.collection.title,
        -%}
      </div>
    {%- endfor -%}
    </div>
  </div>
{% endif %}

{%- schema -%}
  {
    "name": "Link-list",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "タイトル"
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "t:sections.featured_collections.blocks.collection.name",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "t:sections.featured_collections.blocks.collection.collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Link-list",
        "blocks": [
          {
            "type": "collection"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}