<div class="sectionSecond-title">
  <div class="whiteVar"></div>
  <div class="blackVar">
    <div class="sectionSecond-text">
      <a href="">
        <div>{{- section.settings.title -}}</div>
        <div class="arrow">
          <img class="arrow-img" src="{{ 'rightArrow.png' | asset_url }}" />
        </div>
      </a>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Top-collection-name",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "タイトルを入力する"
      },
      {
          "type": "url",
          "id": "link_url",
          "label": "t:global.text.link_url",
          "info": "遷移先リンク"
      }
    ],
    "presets": [
      {
        "name": "Top-collection-name"
      }
    ]
  }
{% endschema %}