<div class="sectionSecond-title">
  <div class="whiteVar"></div>
  <div class="blackVar">
    <div class="sectionSecond-text">
      <div>CATEGORY</div>
      <div class="arrow">
        <img class="arrow-img" src="{{ 'rightArrow.png' | asset_url }}" />
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Top-collection-name",
    "settings": [
          {
      "type": "text",
      "id": "title",
      "label": "Slideshow"
    }
    ],
    "presets": [
      {
        "name": "Top-collection-name"
      }
    ]
  }
{% endschema %}