<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <!-- ファビコン -->
    <!-- <link rel="icon" href="./favicon.ico" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- web page title -->
    <title>東西南北屋</title>
    <!-- css -->
    <link rel="stylesheet" href="./index.css" />
  </head>

  <body>
    <div class="text_wrap">
      <div class="text_inner_wrap">
        <p>発送日：</p>
        <p>2023年7月23日</p>
      </div>
      <p class="shipping_id">Yamato (JA) #000000000000000000000</p>
    </div>
  </body>
</html>
