<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <!-- ファビコン -->
    <!-- <link rel="icon" href="./favicon.ico" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- web page title -->
    <title>東西南北屋</title>
    <!-- css -->
    <link rel="stylesheet" href="./index.css" />
  </head>

  <body>
    <p class="regist_complete_text">
      メールを[xxxxxxx@gmail.com]へ送信しました。<br />
      メールアドレスを認証するために、メール上のリンクをクリックしてください。
    </p>
  </body>
</html>
