.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  width: 100%;
}

.top-downArrow {
  background: transparent;
  box-shadow: none;
}
@media screen and (min-width: 700px) {
  /* スクリーンサイズが700px以上の場合に適用 */
  .top-downArrow {
    height: 3.75vw;
    width: 3.75vw;
    transition: transform 1s ease;
  }
  .top-downArrow :hover {
    transform: scale(1.2);
  }
  .top-downArrow img {
    width: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 699px) {
  /* スクリーンサイズが699px以下の場合に適用 */
  .top-downArrow {
    height: 3.75vw;
    width: 3.75vw;
  }
  .top-downArrow :hover {
    transform: scale(1.2);
  }
  .top-downArrow img {
    width: 100%;
    object-fit: cover;
  }
}