.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  width: 100%;
}

@media screen and (min-width: 700px) {
  /* スクリーンサイズが700px以上の場合に適用 */
  .top-downArrow {
    height: 3.75vw;
    width: 3.75vw;
    transition: transform 1s ease;
    background: transparent;
    box-shadow: none;
  }

  .top-downArrow :hover {
    transform: scale(1.2);
  }

  .top-downArrow img {
    width: 100%;
    object-fit: cover;
  }

  .top-fv {
    width: 100vw;
    border-radius: 200px 0px 0px 0px;
  }

  .top-fv img {
    width: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 699px) {
  /* スクリーンサイズが699px以下の場合に適用 */
  .top-downArrow {
    height: 3.75vw;
    width: 3.75vw;
    background: transparent;
    box-shadow: none;
  }

  .top-downArrow :hover {
    transform: scale(1.2);
  }

  .top-downArrow img {
    width: 100%;
    object-fit: cover;
  }

  .top-fv {
    width: 100vw;
    border-radius: 50px 0px 0px 0px;
  }

  .top-fv img {
    width: 100%;
    object-fit: cover;
  }
}