.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* お気に入りボタン */
.icon-swym-wishlist {
  font-family: "swym-font";
  font-style: normal;
  vertical-align: middle;
}
i.icon-swym-wishlist + span {
  vertical-align: middle;
}
i.icon-swym-wishlist:after {
  content: "";
  font-size: 130%;
  text-align: center;
  display: inline;
}
/*content rendered after swym is ready to avoid showing block/invalid chars*/
.swym-ready i.icon-swym-wishlist:after {
  content: "\f004";
}

@media screen and (min-width: 700px) {
  /* スクリーンサイズが700px以上の場合に適用 */
  /* TOP */
  .top-downArrow {
    height: 3.75vw;
    width: 3.75vw;
    transition: transform 1s ease;
    background: transparent;
    box-shadow: none;
  }

  .top-downArrow :hover {
    transform: scale(1.2);
  }

  .top-downArrow img {
    width: 100%;
    object-fit: cover;
  }

  .top-secsion_title {
    text-align: center;
  }
  .brand_list_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.13vw;
    margin: 5vw 3.13vw;
  }
  .brand_list_wrap > div {
    width: 20.8vw;
  }

  /* brand/category top */
  .common_top_wrap {
    position: relative;
    background-color: #fff !important;
  }
  .common_top_image_wrap {
    height: 32.81vw;
    margin-left: 11.72vw;
    border-radius: 0 0 0 200px;
  }
  .common_top_title {
    position: absolute;
    bottom: 80px;
    left: 40px;
    color: #1f1f1f;
    font-size: 2.5vw;
  }
  .category-title {
    font-family: Zen Kaku Gothic New;
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    border-bottom: 1px solid black;
    padding-bottom: 0.625vw;
    margin: 0 40px 40px;
  }

  /* login */
  .button_wrap,
  .register_wrap {
    width: 31.25vw;
    margin: 0 auto;
  }
  .button_wrap > button,
  .register_wrap > button {
    width: 100%;
  }
  .text_wrap {
    display: flex;
  }

  .login_label {
    width: 31.25vw;
    text-align: left;
    margin-bottom: 12px;
  }
  .login_label.mt {
    margin-top: 1.88vw;
  }

  /* register */
  .register_wrap {
    width: 31.25vw;
    margin: 0 auto;
  }

  .register_caution {
    text-align: left;
    margin: 12px 0 40px;
    font-size: 12px;
  }

  /* password reset */
  .password_reset_label {
    font-size: 14px;
    text-align: left;
    margin-bottom: 12px;
  }
  .password_reset_label.mt {
    margin-top: 24px;
  }

  /* product detail */
  .product-detail_box {
    width: 100%;
    margin: 80px 20px 0 40px;
    border-top: solid 1px #1f1f1f;
  }

  .product-detail_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 20px;
    border-bottom: solid 1px #1f1f1f;
  }

  .toggle {
    display: none;
  }
  .toggle:checked + .product-detail_inner .question_plus_icon {
    display: none;
  }
  .toggle:checked + .product-detail_inner .question_minus_icon {
    display: block;
  }
  .question_minus_icon {
    display: none;
  }
  .product_explanation_content,
  .size_detail_content {
    display: none;
  }
  .toggle.product_explanation_toggle:checked ~ .product_explanation_content {
    display: block;
  }
  .toggle:checked ~ .size_detail_content {
    display: block;
  }
  /* contact */
  .contact_wrap {
    width: 31.25vw;
    display: flex;
    flex-direction: column;
    margin: 12px auto 40px;
    font-size: 12px;
  }

  .contact_label {
    font-size: 14px;
    text-align: left;
  }

  .contact_label_wrap {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 14px;
    line-height: 1.5;
  }
  .contact_label_wrap.mt {
    margin-top: 40px;
  }
  .require_label {
    font-size: 12px;
    padding: 2px 8px;
    text-align: center;
    background-color: #ffe8e8;
    color: #bf0000;
  }
  .top-fv {
    width: 100vw;
    border-radius: 200px 0px 0px 0px;
  }

  /* マイページ */
  .mypage-container {
    padding: 0 3.13vw;
  }

  .mypage-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logout_button {
    font-size: 16px;
    font-weight: 500;
    padding: 8px 2.34vw;
    background-color: #fff;
    border: solid 1px #1f1f1f;
    color: #1f1f1f;
    border-radius: 5px;
  }

  .mypage_tab_wrap {
    display: flex;
    border-bottom: solid 1px #1f1f1f;
  }
  .mypage_tab {
    padding: 12px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px 20px 0 0;
    background-color: #1f1f1f;
    color: #fff;
    min-width: 104px;
    max-width: 120px;
  }
  .mypage_tab.unactive {
    background-color: #fcf9f3;
    color: #1f1f1f;
    border: solid 1px #1f1f1f;
    border-bottom: none;
  }

  .mypage_info {
    background-color: #fff;
    padding: 16px;
    border: solid 1px #e6e6e6;
  }

  .mypage_order_wrap {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .mypage_order_container {
    border: solid 1px #e6e6e6;
    background-color: #fff;
  }

  .mypage_order_header {
    display: flex;
    align-items: center;
    padding: 16px;
    color: #b7413c;
    background-color: #f2f2f2 !important;
  }
  .mypage_order_image,
  .mypage_order_number {
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 92px;
  }
  .mypage_order_date,
  .mypage_order_payment_status,
  .mypage_order_fulfillment_status,
  .mypage_order_total {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mypage_order_container > div:not(:last-child) {
    border-bottom: solid 1px #e6e6e6;
  }

  .mypage_order_buttons {
    display: flex;
    padding: 16px;
  }
  .mypage_order_button {
    width: 220px;
    padding: 12px 0;
    text-align: center;
    border: solid 1px #1f1f1f;
    border-radius: 5px;
    color: #1f1f1f;
    background-color: #fff;
  }
  .top-fv img {
    width: 100%;
    object-fit: cover;
  }

  .footer {
    padding: 6.25vw 3.13vw;
  }
  .footer__block-list {
    justify-content: start;
  }

  /* top-collection-title.liquid srart*/
  .sectionSecond-title {
    width: 100vw;
    height: 21.25vw;
    position: relative;
  }

  .whiteVar {
    height: 12.5vw;
    width: 81.25vw;
    border: solid 1px;
    border-radius: 100px 0px 0px 0px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    border-right: none;
  }

  .blackVar {
    width: 96.875vw;
    border-radius: 0px 100px 0px 0px;
    position: absolute;
    top: 5.31vw;
    background-color: black;
  }

  .sectionSecond-text {
    display: flex;
    color: white;
    margin: 5.3125vw 0 3.671vw 3.125vw;
    font-family: Roboto;
    font-size: 2.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    gap: 1.875vw;
  }

  .arrow {
    width: 1.25vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .arrow-img {
    /* margin-left: 1.875vw; */
    width: 100%;
  }
  /* top-collection-title.liquid end*/

  /* トップ画面のfeatured-collectionのview allボタン*/
  .top-view-all-button > .button {
    height: 4.375vw;
    width: 21.875vw;
    border-radius: 0.390625vw 2.34375vw;
    padding: 1.406vw 0;
    font-family: Roboto;
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
  }

  /* todo: あとで修正 */
  .top-link-button-list .button {
    background-image: none;
    background-color: #ffffff;
    color: #1f1f1f;
    width: 21.09375vw;
    /* height: 4.53125vw; */
    border-radius: 0.390625vw 2.34375vw;
    padding: 1.40625vw 1.25vw;
  }

  /* todo: あとで修正 */
  .detail-link-button-list .button {
    background-image: none;
    background-color: #ffffff;
    color: #1f1f1f;
    width: 21.09375vw;
    /* height: 4.53125vw; */
    border-radius: 0.390625vw 2.34375vw;
    padding: 1.40625vw 1.25vw;
  }

  /* header search */
  .header-search__form-control {
    padding-right: 24px;
    padding-left: 40px;
  }
}

@media screen and (max-width: 699px) {
  /* スクリーンサイズが699px以下の場合に適用 */
  /* TOP */
  .top-downArrow {
    height: 3.75vw;
    width: 3.75vw;
    background: transparent;
    box-shadow: none;
    display: none;
  }

  .top-downArrow :hover {
    transform: scale(1.2);
  }

  .top-downArrow img {
    width: 100%;
    object-fit: cover;
  }

  .top-secsion_title {
    text-align: center;
  }

  .top-fv {
    width: 100vw;
    border-radius: 50px 0px 0px 0px;
  }

  .top-fv img {
    width: 100%;
    object-fit: cover;
  }
  .brand_list_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 4.27vw;
    margin: 8.53vw 4.27vw;
  }
  .brand_list_wrap > div {
    width: 47%;
  }
  .brand_list_wrap > div > a {
    width: 100% !important;
  }

  /* brand/category top */
  .common_top_wrap {
    position: relative;
    background-color: #fff !important;
  }
  .common_top_image_wrap {
    height: 56vw;
    margin-left: 12.27vw;
    border-radius: 0 0 0 100px;
  }
  .common_top_title {
    position: absolute;
    bottom: 40px;
    left: 16px;
    color: #1f1f1f;
    font-size: 2.5vw;
  }
  .category-title {
    font-family: Zen Kaku Gothic New;
    font-size: 4.266vw;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    border-bottom: 1px solid black;
    padding-bottom: 2.133vw;
    margin: 0 20px 40px;
  }
  /* login */
  .button_wrap,
  .register_wrap {
    width: 90vw;
    margin: 0 auto;
  }
  .button_wrap > button,
  .register_wrap > button {
    width: 100%;
  }
  .text_wrap {
    display: flex;
  }

  .login_label {
    width: 90vw;
    text-align: left;
    margin-bottom: 12px;
  }

  .login_label.mt {
    margin-top: 6.4vwvw;
  }

  /* register */
  .register_wrap {
    width: 90vw;
    margin: 0 auto;
  }

  .register_caution {
    text-align: left;
    margin: 12px 0 40px;
    font-size: 12px;
  }

  /* password reset */
  .password_reset_label {
    font-size: 14px;
    text-align: left;
    margin-bottom: 12px;
  }
  .password_reset_label.mt {
    margin-top: 24px;
  }
  /* マイページ */
  .mypage-container {
    padding: 0 4.27vw;
  }

  .mypage-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logout_button {
    font-size: 16px;
    font-weight: 500;
    padding: 8px 8vw;
    background-color: #fff;
    border: solid 1px #1f1f1f;
    color: #1f1f1f;
    border-radius: 5px;
  }

  .mypage_info {
    background-color: #fff;
    padding: 16px;
    border: solid 1px #e6e6e6;
  }
  .mypage_order_wrap {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .mypage_order_container {
    border: solid 1px #e6e6e6;
    background-color: #fff;
  }
  .mypage_order_wrap {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .mypage_order_container {
    border: solid 1px #e6e6e6;
    background-color: #fff;
  }

  .mypage_order_header {
    display: flex;
    align-items: center;
    padding: 16px;
    color: #b7413c;
    background-color: #f2f2f2 !important;
  }
  .mypage_order_image,
  .mypage_order_number {
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 92px;
    color: #b7413c;
    background-color: #f2f2f2 !important;
  }
  .mypage_order_image,
  .mypage_order_number {
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 92px;
  }
  .mypage_order_date,
  .mypage_order_payment_status,
  .mypage_order_fulfillment_status,
  .mypage_order_total {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mypage_order_container > div:not(:last-child) {
    border-bottom: solid 1px #e6e6e6;
  }

  .mypage_order_buttons {
    display: flex;
    padding: 16px;
  }
  .mypage_order_button {
    width: 100%;
    padding: 12px 0;
    text-align: center;
    border: solid 1px #1f1f1f;
    border-radius: 5px;
    color: #1f1f1f;
    background-color: #fff;
  }

  /* product detail */
  .spPadding {
    padding: 0 16px;
    border-radius: 5px;
    color: #1f1f1f;
    background-color: #fff;
  }

  .product-detail_box {
    width: 100%;
    border-top: solid 1px #1f1f1f;
  }

  .product-detail_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 20px;
    border-bottom: solid 1px #1f1f1f;
  }
  /* contact */
  .contact_wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .contact_label {
    font-size: 14px;
    text-align: left;
  }

  .contact_label_wrap {
    width: 90vw;
    margin: 0 auto 12px;
    display: flex;
    align-items: center;
    gap: 12px;
    line-height: 1.5;
  }
  .contact_label_wrap.mt {
    margin-top: 40px;
  }
  .require_label {
    font-size: 12px;
    padding: 2px 8px;
    text-align: center;
    background-color: #ffe8e8;
    color: #bf0000;
  }

  /* マイページ */
  .mypage-container {
    padding: 0 4.27vw;
  }

  .mypage-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logout_button {
    font-size: 16px;
    font-weight: 500;
    padding: 8px 8vw;
    background-color: #fff;
    border: solid 1px #1f1f1f;
    color: #1f1f1f;
    border-radius: 5px;
  }
  .mypage_tab_wrap {
    display: flex;
    border-bottom: solid 1px #1f1f1f;
  }
  .mypage_tab {
    padding: 12px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px 20px 0 0;
    background-color: #1f1f1f;
    color: #fff;
    min-width: 104px;
    max-width: 120px;
  }
  .mypage_tab.unactive {
    background-color: #fcf9f3;
    color: #1f1f1f;
    border: solid 1px #1f1f1f;
    border-bottom: none;
  }

  .footer {
    padding: 6.25vw 3.13vw;
  }

  /* top-collection-title.liquid srart*/
  .sectionSecond-title {
    width: 100vw;
    height: 40.5vw;
    position: relative;
  }

  .whiteVar {
    height: 18.66vw;
    width: 89.33vw;
    border: solid 1px;
    border-radius: 100px 0px 0px 0px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    border-right: none;
  }

  .blackVar {
    height: 18.66vw;
    width: 100vw;
    border-radius: 0px 100px 0px 0px;
    position: absolute;
    top: 13.6vw;
    background-color: black;
  }

  .sectionSecond-text {
    display: flex;
    color: white;
    margin: 4.66vw 0 4.66vw 4.26vw;
    font-family: Roboto;
    font-size: 6.4vw;
    font-style: normal;
    font-weight: 400;
    gap: 3.2vw;
  }

  .arrow {
    width: 4.266vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .arrow-img {
    width: 100%;
  }
  /* top-collection-title.liquid end*/

  /* トップ画面のfeatured-collectionのview allボタン*/
  .top-view-all-button > .button {
    height: 14.933vw;
    width: 74.66vw;
    border-radius: 1.066vw 8vw;
    padding: 4.8vw 0;
    font-family: Roboto;
    font-size: 4.2666vw;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
  }

  /* todo: あとで修正 */
  .top-link-button-list .button {
    background-image: none;
    background-color: #ffffff;
    color: #1f1f1f;
    width: 23.428571vw;
    border-radius: 1.066vw 8vw;
    padding: 2.571429vw 2.285714vw;
  }

  /* todo: あとで修正 */
  .detail-link-button-list .button {
    background-image: none;
    background-color: #ffffff;
    color: #1f1f1f;
    width: 23.428571vw;
    border-radius: 1.066vw 8vw;
    padding: 2.571429vw 2.285714vw;
  }
}
