<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <!-- ファビコン -->
    <!-- <link rel="icon" href="./favicon.ico" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- web page title -->
    <title>東西南北屋</title>
    <!-- css -->
    <link rel="stylesheet" href="./index.css" />
  </head>

  <body>
    <div class="contact_complete_text_box">
      <p class="contact_complete_text">
        お問い合わせありがとうございました。<br />
        お問い合わせ内容につきましては、確認の上、担当者からご連絡させていただきます
      </p>
      <p class="contact_complete_sub_text">
        ※ご返信には、数日頂戴しております。あらかじめご了承ください。
      </p>
    </div>
  </body>
</html>
