@media screen and (min-width: 700px) {
  /* スクリーンサイズが700px以上の場合に適用 */
  .maypage_address_add_button {
    background-color: #fff;
    color: #1f1f1f;
    border: solid 1px #1f1f1f;
    border-radius: 5px;
    font-size: 1.41vw;
    color: #1f1f1f;
    padding: 0.63vw 1.56vw;
  }
}

@media screen and (max-width: 699px) {
  /* スクリーンサイズが699px以下の場合に適用 */
  .maypage_address_add_button {
    background-color: #fff;
    color: #1f1f1f;
    border: solid 1px #1f1f1f;
    border-radius: 5px;
    font-size: 4.8vw;
    color: #1f1f1f;
    padding: 2.13vw 5.33vw;
  }
}
