<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <!-- ファビコン -->
    <!-- <link rel="icon" href="./favicon.ico" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- web page title -->
    <title>東西南北屋</title>
    <!-- css -->
    <link rel="stylesheet" href="./index.css" />
  </head>

  <body>
    <div class="question_inner_box">
      <input id="block-01" type="checkbox" class="toggle" />
      <label class="Label" for="block-01">
        <div class="title">商品説明</div>
        <div class="question_plus_icon"><img src="./plus.png" /></div>
        <div class="question_minus_icon"><img src="./minus.png" /></div>
      </label>
      <div class="content">
        <div class="content-text">
          説明が入ります説明が入ります説明が入ります
        </div>
      </div>
    </div>
  </body>
</html>
