@media screen and (min-width: 700px) {
  /* スクリーンサイズが700px以上の場合に適用 */
  .category {
    height: 4.375vw;
    width: 21.875vw;
    border: 1px solid #1f1f1f;
    border-radius: 0.390625vw 2.34375vw;
    padding: 1.406vw 0;
    color: #1f1f1f;
    background-color: #fff;
    font-family: Roboto;
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
  }
}

@media screen and (max-width: 699px) {
  /* スクリーンサイズが699px以下の場合に適用 */
  .category {
    height: 14.933vw;
    width: 74.66vw;
    border: 1px solid #1f1f1f;
    border-radius: 1.333vw 8vw;
    padding: 4.8vw 0;
    color: #1f1f1f;
    background-color: #fff;
    font-family: Roboto;
    font-size: 3.7333vw;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
  }
}
