<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <!-- ファビコン -->
    <!-- <link rel="icon" href="./favicon.ico" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- web page title -->
    <title>東西南北屋</title>
    <!-- css -->
    <link rel="stylesheet" href="./index.css" />
  </head>

  <body>
    <div class="back_link">
      <div class="back_link_icon">
        <img src="link_icon.png" />
      </div>
      <p class="back_link_text">マイページへ戻る</p>
    </div>
  </body>
</html>
